@page
@model WebApplicationHW1.Pages.Courses.DetailsModel

@{
    ViewData["Title"] = "Details";
    string AccountType = HttpContext.Session.GetString("AccountType");

    switch (AccountType)
    {
        case "Student":
            Layout = "_DashboardStudent";
            break;
        case "Instructor":
            //Admin layout  
            Layout = "_DashboardInstructor";
            break;
    }
}
@using Microsoft.AspNetCore.Http

<div class="container-fluid ms-4">
    <div class="row">
        <div class="col-md-12 main">
            <center><h2 class="m-2">Course Details</h2></center>
        </div>
        <hr />
    </div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Course.Department)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Course.Department)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Course.CourseTitle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Course.CourseTitle)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Course.CourseNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Course.CourseNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Course.CourseDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Course.CourseDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Course.Credits)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Course.Credits)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Course.MeetingDayOne)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Course.MeetingDayOne)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Course.MeetingDayTwo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Course.MeetingDayTwo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Course.MeetingDayThree)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Course.MeetingDayThree)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Course.MeetingStartTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Course.MeetingStartTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Course.MeetingEndTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Course.MeetingEndTime)
            </dd>
        </dl>
    </div>
    <div>
        <form method="post">
            <a asp-page="./Edit" asp-route-id="@Model.Course.CourseID">Edit</a> |
            <a asp-page="./Index" asp-route-id="@HttpContext.Session.GetString("UserId")">Back to List</a>
            <input type="hidden" asp-for="Course.CourseID" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
        </form>
    </div>
</div>